Repository CSID-DGU/2025-1-CSC4004-1-4-Aeye, pull requests merged in 2025-05, with the labels that each got.

#2 [setting] #1 - Github Template 생성
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/issue-template.md
  .github/PULL_REQUSET_TEMPLATE.md
Labels: setting, youngseo

#4 [setting] #3 Chrome Extension 개발을 위한 템플릿 코드 작성
  .gitignore
  frontend/assets/unscroll_icon.png
  frontend/background/background.js
  frontend/content/contentScript.js
  frontend/manifest.json
  frontend/popup/popup.css
  frontend/popup/popup.html
  frontend/popup/popup.js
  frontend/shared/message.js
  frontend/shared/utils.js
  frontend/sidepanel/sidepanel.css
  frontend/sidepanel/sidepanel.html
  frontend/sidepanel/sidepanel.js
Labels: setting, youngseo, frontend

#12 [style] #11 - add popup page style
  frontend/popup/popup.css
  frontend/popup/popup.html
Labels: feat, frontend, heewon

#15 [style] #14 sidepanel 기본 틀 제작
  frontend/popup/popup.js
  frontend/sidepanel/sidepanel.css
  frontend/sidepanel/sidepanel.html
  frontend/sidepanel/sidepanel.js
Labels: feat, frontend, heewon

#18 [feat] #17 - 상세페이지 텍스트 요약 및 요약 결과 불러오기
  backend/background.js
  backend/server.py
  frontend/content/contentScript.js
  frontend/popup/popup.html
  manifest.json
Labels: feat, backend, jonggil, junha

#13 [feat] #10 이미지 전처리, OCR 기능 구현
  backend/AI/ocr.py
Labels: feat, backend, hyungeun

#23 [feat] #22 - 이미지 전송 처리 구현
  backend/AI/ocr.py
  backend/background.js
  backend/preprocessor.js
  backend/server(test).py
  backend/server.py
  frontend/background/background.js
  frontend/content/contentScript.js
  frontend/popup/popup.js
  frontend/shared/message.js
  frontend/sidepanel/sidepanel.js
  manifest.json
Labels: feat, frontend, backend, hyungeun

#29 [feat] #16 - 서버 코드 구조 전반 리팩토링
  backend/server/routes/__init__.py
  backend/server/routes/product_route.py
  backend/server/routes/review_route.py
  backend/server/routes/tts_route.py
  backend/server/server.py
  backend/server/services/ocr_runner.py
  backend/server/services/product_summary.py
  backend/server/services/review_summary.py
  backend/server/services/tts_generator.py
  frontend/sidepanel/sidepanel.html
Labels: youngseo, backend, refactor

#33 [feat] #32 - 데이터 전송 분할 및 코드 리팩토링
  backend/background.js
  backend/server/services/ocr_runner.py
  frontend/background/background.js
  frontend/content/contentScript.js
  frontend/content/messageHandler.js
  frontend/content/uiController.js
  frontend/popup/popup.js
  manifest.json
Labels: feat, frontend, hyungeun

#39 [feat] #37 - route 파일 수정
  .gitignore
  backend/ocr/ocr.py
  backend/server.py
  backend/server/routes/product_route.py
  backend/server/routes/review_route.py
  backend/server/routes/tts_route.py
  backend/server/services/ocr_runner.py
  backend/server/services/product_summary.py
  backend/server/services/review_summary.py
  backend/web_extension/__init__.py
  backend/web_extension/config.py
  backend/web_extension/gpt.py
  backend/web_extension/prompt_dom.py
  backend/web_extension/prompt_ocr.py
  frontend/background/background.js
Labels: feat, backend, hyungeun

#38 [feat] #31 - TTS 음성 모델 변경
  frontend/sidepanel/sidepanel.js
  manifest.json
Labels: feat, frontend, heewon

#46 [feat] - #45 backend frontend 연결
  backend/server/routes/review_route.py
  backend/server/services/product_summary.py
  backend/server/services/review_summary.py
  frontend/background/background.js
  frontend/sidepanel/sidepanel.js
Labels: feat, backend, junha
